#page {
	margin: 36px auto;
	width: 90%; /* previously set at a fixed 960px */
}

.blog-image-header {
	background-image: url("./img/pexels-photo-459688.jpeg");
	background-position: center;
	background-repeat: no-repeat;

	/*height: 100px;*/
	/*width: 100%;*/

	/* 48 / 900 = 0.0533333333 */
	padding: 5.33333333%; /* padding was previously 48px on the left side */ 
}

.blog-image-border {
	border-bottom: 1px solid gray;
	position: relative;
	top: 20px;
}

/*   FORMULA: target (pixel width) / context = result   */ 
/* .blog(900) / context(960) = 0.9375 */
/* move the decimal place over two places, to make 93.75% */

.blog {
	margin: 0 auto 53px;

	padding-top: 2.000em;
	width: 93.75%; /* previously 900px */
}

.blog .main-content {
	float: left;
	width: 62.8888889%; /* 566 / 900 = .628888889 */
}

.article {
	/* Target: 24px padding on total width of main-content */
	padding: 4.2402826855124%; /* 24px / 566px */
}

.blog-post-image img {
	/*background-image: url("./img/pexels-photo-866023-resized.jpg");*/
	background-position: center;
	background-repeat: no-repeat;

	display: block;
	height: 35.375em;
}

.blog .side-content {
	float: right;
	width: 36.7777778%; /* 331 / 900 = .367777778 */
}


.recent-entries {

	width: 231px;
}